* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #ffffff;
}

p a {
  margin-left: 40px;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
  padding: 24px 0;
  background-color: #ffffff;
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  max-width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(104%);
}

.sl-wrapper.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}

body .sl-wrapper .sl-counter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

body .sl-wrapper .sl-navigation button {
  color: #ffffff;
}

body .sl-wrapper .sl-close {
  color: #ffffff;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 8px;
  padding: 24px;
  max-width: 408px;
  background-color: #ffffff;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label:first-child {
  margin-bottom: 8px;
}

.feedback-form label input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form label textarea {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form label input:hover,
.feedback-form label textarea:hover {
  border-color: #000000;
}

.feedback-form button {
  display: block;
  width: 95px;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
